@import 'tailwindcss';

@theme {
  --font-inter: Inter, sans-serif;

  --color-primary-bg: #f5f7fa;
  --color-highlight-bg: #fff3e6;
  --color-accent1: #6ab0ff;
  --color-accent2: #d4a5ff;
  --color-text: #1f2a44;
  --color-text-secondary: #757575;

  --text-primary: 2.25rem;
  --text-secondary: 1.5rem;
  --text-subheading: 1.125rem;
  --text-paragraph: 1rem;
  --text-small: 0.75rem;

  --shadow-primary: 0px 4px 12px 0px rgba(212, 165, 255, 0.15);
  --shadow-secondary: 0px 1px 4px 0px rgba(12, 12, 13, 0.05);
  --shadow-footer: 0px -1px 4px 0px rgba(12, 12, 13, 0.05);

}

.border-image-gradient {
  border-image: linear-gradient(99deg, #6ab0ff 0.28%, #d4a5ff 104%) 1;
  color: #0c0c0d1e;
}
